[{
  "name": "^{{serviceName}}$",
  "http": {
    "request": {
      "url": "^{{endpoint}}/aws-sdk-call$",
      "method": "^GET$"
    },
    "response": {
      "status": "^200$"
    }
  },
  "aws": {
    "account_id": "^{{accountId}}$"
  },
  "annotations": {
    "aws.local.service": "^{{serviceName}}$",
    "aws.local.operation": "^GET /aws-sdk-call$",
    "aws.local.environment": "^ec2:default$"
  },
  "metadata": {
    "default": {
      "EC2.InstanceId": "^{{instanceId}}$",
      "PlatformType": "^AWS::EC2$",
      "otel.resource.host.image.id": "^{{instanceAmi}}$",
      "otel.resource.host.type": "^t3.small$",
      "aws.span.kind": "^LOCAL_ROOT$"
    }
  },
  "subsegments": [
    {
      "name": "^AWS::S3$",
      "http": {
        "response": {
          "status": "^404$"
        }
      },
      "aws": {
        "operation": "^ListBuckets$"
      },
      "annotations": {
        "aws.local.service": "^{{serviceName}}$",
        "aws.local.operation": "^GET /aws-sdk-call$",
        "aws.remote.service": "^AWS::S3$",
        "aws.remote.operation": "^ListBuckets$",
        "aws.local.environment": "^ec2:default$"
      },
      "metadata": {
        "default": {
          "EC2.InstanceId": "^{{instanceId}}$",
          "PlatformType": "^AWS::EC2$",
          "aws.span.kind": "^CLIENT$"
        }
      },
      "namespace": "^remote$"
    }
  ]
},
{
  "name": "^AWS::S3$",
  "annotations": {
    "aws.local.operation": "^ListBuckets$",
  }
}]