[{
  "name": "^{{serviceName}}$",
  "annotations": {
    "aws.local.service": "^{{serviceName}}$",
    "aws.local.operation": "^GET /",
    "aws.local.environment": "^ec2:default$"
  },
  "metadata": {
    "default": {
      "otel.resource.host.image.id": "^{{instanceAmi}}$",
      "otel.resource.host.type": "^t3.small$"
    }
  },
  "subsegments": [
    {
      "name": "^(([0-9]{1,3}.){3}[0-9]{1,3}):80$",
      "http": {
        "request": {
          "url": "^http://(([0-9]{1,3}.){3}[0-9]{1,3})/latest/api/token$",
          "method": "^PUT$"
        }
      },
      "annotations": {
        "aws.local.service": "^{{serviceName}}$",
        "aws.local.operation": "^GET /$",
        "aws.remote.service": "^(([0-9]{1,3}.){3}[0-9]{1,3}):80$",
        "aws.remote.operation": "PUT /latest",
        "aws.local.environment": "^ec2:default$"
      },
      "metadata": {
        "default": {
          "EC2.InstanceId": "^{{instanceId}}$",
          "PlatformType": "^AWS::EC2$",
          "aws.span.kind": "^CLIENT"
        }
      },
      "namespace": "^remote$"
    }
  ]
},
{
  "name": "^(([0-9]{1,3}.){3}[0-9]{1,3}):80$",
  "http": {
    "request": {
      "url": "^http://local-root-client-call/$",
      "method": "^GET$"
    },
    "response": {
      "content_length": 0
    }
  },
  "annotations": {
    "aws.local.service": "^(([0-9]{1,3}.){3}[0-9]{1,3}):80$",
    "aws.local.operation": "^GET /$"
  }
}]