[{
  "resource": {
    "attributes": {
      "service.name": "{{serviceName}}",
      "telemetry.sdk.language": "java"
    }
  },
  "scope": {
    "name": "aws.dynamic_instrumentation"
  },
  "attributes": {
    "event.name": "aws.dynamic_instrumentation.snapshot",
    "aws.di.instrumentation_type": "BREAKPOINT",
    "aws.di.instrumentation_level": "line",
    "aws.di.location_hash": "{{locationHash}}",
    "aws.di.code_unit": "com.amazon.sampleapp",
    "aws.di.class_name": "FrontendServiceController",
    "aws.di.method_name": "httpCall",
    "aws.di.line_number": "117",
    "aws.di.snapshot_id": "^.+$"
  },
  "traceId": "^.+$",
  "spanId": "^.+$",
  "body": {
    "captures": {
      "lines": {
        "117": {
          "locals": {
            "statusCode": {
              "type": "^java\\.lang\\.Integer$",
              "value": "^\\d{3}$"
            }
          }
        }
      }
    }
  }
}]
