[{
  "resource": {
    "attributes": {
      "service.name": "{{serviceName}}",
      "telemetry.sdk.language": "java"
    }
  },
  "scope": {
    "name": "aws.dynamic_instrumentation"
  },
  "attributes": {
    "event.name": "aws.dynamic_instrumentation.snapshot",
    "aws.di.instrumentation_type": "PROBE",
    "aws.di.instrumentation_level": "method",
    "aws.di.location_hash": "{{locationHash}}",
    "aws.di.code_unit": "com.amazon.sampleapp",
    "aws.di.class_name": "FrontendServiceController",
    "aws.di.method_name": "mysql",
    "aws.di.snapshot_id": "^.+$"
  },
  "traceId": "^.+$",
  "spanId": "^.+$",
  "body": {
    "captures": {
      "return": {
        "throwable": {
          "type": "^java\\.lang\\.RuntimeException$",
          "stacktrace": [
            {
              "function": "^mysql$"
            }
          ]
        }
      }
    }
  }
}]
