.DS_Store
.idea
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore NodeJS build outputs
node_modules/

# Ignore Bin files from validator folder
validator/bin

.venv
__pycache__