[{
  "name": "GET /client-call",
  "kind": "SERVER",
  "resource": {
    "attributes": {
      "service.name": "{{serviceName}}"
    }
  },
  "attributes": {
    "aws.local.service": "{{serviceName}}",
    "aws.local.environment": "generic:default",
    "aws.local.operation": "GET /client-call",
    "aws.span.kind": "LOCAL_ROOT",
    "url.scheme": "http",
    "server.address": "localhost",
    "url.path": "/client-call",
    "http.route": "/client-call",
    "http.request.method": "GET",
    "PlatformType": "Generic"
  }
},
{
  "name": "GET",
  "kind": "CLIENT",
  "resource": {
    "attributes": {
      "service.name": "{{serviceName}}",
    }
  },
  "attributes": {
    "aws.local.service": "{{serviceName}}",
    "aws.local.operation": "InternalOperation",
    "aws.remote.service": "local-root-client-call",
    "aws.remote.operation": "GET /",
    "aws.local.environment": "generic:default",
    "aws.span.kind": "LOCAL_ROOT",
    "url.full": "http://local-root-client-call/",
    "http.method": "GET",
    "PlatformType": "Generic"
  }
}]