[
    {
        "name": "^{{serviceName}}$",
        "http": {
            "request": {
                "url": "^{{endpoint}}/mysql$",
                "method": "^GET$"
            },
            "response": {
                "status": 200
            }
        },
        "aws": {
            "account_id": "^{{accountId}}$",
            "xray": {
                "auto_instrumentation": true,
                "sdk": "^opentelemetry for"
            }
        },
        "annotations": {
            "aws.local.service": "^{{serviceName}}$",
            "aws.local.operation": "^GET /mysql$",
            "aws.local.environment": "^eks:{{platformInfo}}/{{appNamespace}}$"
        },
        "metadata": {
            "default": {
                "EC2.AutoScalingGroup": "^eks-.+",
                "EKS.Cluster": "^{{platformInfo}}$",
                "K8s.Namespace": "^{{appNamespace}}",
                "otel.resource.K8s.Workload": "^sample-app-deployment-{{testingId}}",
                "otel.resource.K8s.Node": "^i-[A-Za-z0-9]{17}$",
                "otel.resource.K8s.Pod": "^sample-app-deployment-{{testingId}}(-[A-Za-z0-9]*)*$",
                "otel.resource.host.name": "^ip(-[0-9]{1,3}){4}.*$",
                "PlatformType": "^AWS::EKS$",
                "aws.span.kind": "^LOCAL_ROOT$",
                "http.route": "^/mysql$"
            }
        },
        "subsegments": [
            {
                "name": "^FrontendServiceController.mysql$",
                "aws": {
                    "account_id": "^{{accountId}}$",
                    "xray": {
                        "auto_instrumentation": true,
                        "sdk": "^opentelemetry for"
                    }
                },
                "annotations": {
                    "aws.local.operation": "^GET /mysql$"
                },
                "subsegments": [
                    {
                        "name": "^mysql$",
                        "sql": {
                            "url": "^SELECT information_schema.tables$",
                            "sanitized_query": "SELECT \\* FROM tables LIMIT \\?;",
                            "database_type": "^mysql$"
                        },
                        "annotations": {
                            "aws.remote.operation": "^SELECT$",
                            "aws.local.operation": "^GET /mysql$",
                            "aws.remote.resource.type": "^DB::Connection$",
                            "aws.remote.resource.identifier": "{{remoteResourceIdentifier}}",
                            "aws.remote.service": "^mysql$",
                            "aws.local.service": "^{{serviceName}}$",
                            "aws.local.environment": "^eks:{{platformInfo}}/{{appNamespace}}$"
                        },
                        "metadata": {
                            "default": {
                                "EC2.AutoScalingGroup": "^eks-.+",
                                "EKS.Cluster": "^{{platformInfo}}$",
                                "K8s.Namespace": "^{{appNamespace}}$",
                                "PlatformType": "^AWS::EKS$",
                                "aws.span.kind": "^CLIENT$",
                                "db.sql.table": "^tables$",
                                "db.operation": "^SELECT$"
                            }
                        },
                        "namespace": "^remote$"
                    }
                ]
            }
        ]
    }
]