[
  {
    "Telemetry.Source": "^ServiceEvents$",
    "__name__": "^count$",
    "__type__": "^Sum$",
    "__unit__": "^Count$",
    "operation": "^GET /mysql$",
    "exception": "^com\\.amazon\\.sampleapp\\.FrontendServiceController\\.mysql RuntimeException$",
    "__value__": ">0"
  }
]
