[
  {
    "Telemetry.Source": "^ServiceEvents$",
    "__name__": "^service.function.duration$",
    "__type__": "^ExponentialHistogram$",
    "__unit__": "^Microseconds$",
    "function.name": "^com\\.amazon\\.sampleapp\\.FrontendServiceController\\.mysql$",
    "status": "^error$"
  },
  {
    "Telemetry.Source": "^ServiceEvents$",
    "__name__": "^service.function.duration$",
    "function.name": "^com\\.amazon\\.sampleapp\\.FrontendServiceController\\..+$",
    "status": "^success$"
  }
]
