-
  metricName: JVMGCDuration
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMGCCount
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMGCOldGenDuration
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMGCOldGenCount
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMGCYoungGenDuration
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMGCYoungGenCount
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMGCYoungGenCount
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMMemoryHeapUsed
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMMemoryNonHeapUsed
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMMemoryUsedAfterLastGC
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMMemoryOldGenUsed
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMMemorySurvivorSpaceUsed
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMMemoryEdenSpaceUsed
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMThreadCount
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMClassLoaded
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMCpuTime
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: JVMCpuRecentUtilization
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE