[{
  "resource": {
    "attributes": {
      "service.name": "{{serviceName}}",
      "telemetry.sdk.language": "python"
    }
  },
  "scope": {
    "name": "aws.dynamic_instrumentation"
  },
  "attributes": {
    "event.name": "aws.dynamic_instrumentation.snapshot",
    "aws.di.instrumentation_type": "BREAKPOINT",
    "aws.di.instrumentation_level": "line",
    "aws.di.location_hash": "{{locationHash}}",
    "aws.di.code_unit": "frontend_service_app.views",
    "aws.di.method_name": "http_call",
    "aws.di.snapshot_id": "^.+$"
  },
  "traceId": "^.+$",
  "spanId": "^.+$",
  "body": {
    "captures": {
      "lines": {
        "135": {
          "locals": {
            "url": {
              "type": "^str$",
              "value": "^https?://.+$"
            },
            "response": {
              "type": "^requests\\.models\\.Response$",
              "not_captured_reason": "^fieldCount$"
            },
            "status_code": {
              "type": "^int$",
              "value": "^\\d{3}$"
            }
          }
        }
      }
    },
    "stack": [
      {
        "function": "http_call"
      }
    ]
  }
}]
