[{
  "Environment": "^lambda:default$",
  "Operation": "{{serviceName}}/FunctionHandler",
  "PlatformType": "^AWS::Lambda$",
  "Service": "^{{serviceName}}$",
  "Lambda.Function.Name": "^{{serviceName}}$"
}]