[{
  "name": "^{{serviceName}}$",
  "http": {
    "request": {
      "url": "^{{endpoint}}/aws-sdk-call\\?ip=(([0-9]{1,3}.){3}[0-9]{1,3})&testingId={{testingId}}$",
      "method": "^GET$"
    }
  },
  "aws": {
    "account_id": "^{{accountId}}$"
  },
  "annotations": {
    "aws.local.service": "^{{serviceName}}$",
    "aws.local.operation": "^GET /aws-sdk-call$",
    "aws.local.environment": "^ec2:{{platformInfo}}$"
  },
  "metadata": {
    "default": {
      "EC2.AutoScalingGroup": "^{{platformInfo}}$",
      "EC2.InstanceId": "^{{instanceId}}$",
      "otel.resource.ec2.tag.aws:autoscaling:groupName": "^{{platformInfo}}$",
      "otel.resource.host.id": "^{{instanceId}}$",
      "PlatformType": "^AWS::EC2$",
      "otel.resource.host.image.id": "^{{instanceAmi}}$",
      "otel.resource.host.type": "^t3.micro$",
      "aws.span.kind": "^LOCAL_ROOT$",
      "otel.resource.host.name": "^{{privateDnsName}}$"
    }
  },
  "subsegments": [
    {
      "name": "^S3$",
      "annotations": {
        "aws.local.service": "^{{serviceName}}$",
        "aws.local.operation": "^GET /aws-sdk-call$",
        "aws.remote.service": "^AWS::S3$",
        "aws.remote.operation": "^GetBucketLocation$",
        "aws.remote.resource.type": "^AWS::S3::Bucket$",
        "aws.remote.resource.identifier": "^e2e-test-bucket-name-{{testingId}}$",
        "aws.local.environment": "^ec2:{{platformInfo}}$"
      },
      "metadata": {
        "default": {
          "EC2.AutoScalingGroup": "^{{platformInfo}}$",
          "EC2.InstanceId": "^{{instanceId}}$",
          "PlatformType": "^AWS::EC2$",
          "aws.span.kind": "^CLIENT$",
          "aws.s3.bucket": "^e2e-test-bucket-name-{{testingId}}$"
        }
      },
      "namespace": "^aws$"
    }
  ]
}]
