-
  metricName: metricName
  namespace: metricNamespace
  dimensions:
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: ::s3:::e2e-test-bucket-name-testIdentifier