-
  metricName: PythonProcessGCCount
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default

-
  metricName: PythonProcessGCGen0Count
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default

-
  metricName: PythonProcessGCGen1Count
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default

-
  metricName: PythonProcessGCGen2Count
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default

-
  metricName: PythonProcessVMSMemoryUsed
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default

-
  metricName: PythonProcessRSSMemoryUsed
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default

-
  metricName: PythonProcessThreadCount
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default


-
  metricName: PythonProcessCpuTime
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default

-
  metricName: PythonProcessCpuUtilization
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default
      
-
  metricName: Fault
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: Environment
      value: ec2:default
    -
      name: Operation
      value: operationName