[{
  "name": "^{{serviceName}}$",
  "http": {
    "request": {
      "url": "^{{endpoint}}/aws-sdk-call$",
      "method": "^GET$"
    },
    "response": {
      "status": "^200$"
    }
  },
  "aws": {
    "account_id": "^{{accountId}}$"
  },
  "annotations": {
    "aws.local.service": "^{{serviceName}}$",
    "HostedIn.Environment": "^EC2$",
    "aws.local.operation": "^GET /aws-sdk-call$"
  },
  "metadata": {
    "default": {
        "otel.resource.aws.hostedin.environment": "^EC2$",
        "otel.resource.host.image.id": "^{{instanceAmi}}$",
        "otel.resource.host.type": "^t3.micro$",
        "aws.span.kind": "^LOCAL_ROOT$"
    }
  },
  "subsegments": [
    {
      "subsegments": [
        {
          "name": "^S3$",
          "http": {
            "request": {
              "url": "^https://e2e-test-bucket-name.s3.{{region}}.amazonaws.com\\?location$",
              "method": "^GET$"
            }
          },
          "annotations": {
            "HostedIn.Environment": "^EC2$",
            "aws.local.service": "^{{serviceName}}$",
            "aws.local.operation": "^GET /aws-sdk-call$",
            "aws.remote.service": "^AWS\\.SDK\\.S3$",
            "aws.remote.operation": "^GetBucketLocation$",
            "aws.remote.target": "^::s3:::e2e-test-bucket-name$"
          },
          "metadata": {
            "default": {
              "aws.span.kind": "^CLIENT$"
            }
          },
          "namespace": "^aws$"
        }
      ]
    }
  ]
},
{
  "name": "^S3$",
  "aws": {
    "operation": "^GetBucketLocation$"
  }
}]