[{
  "HostedIn.Environment": "^EC2$",
  "Operation": "GET /aws-sdk-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^LOCAL_ROOT$"
},
{
  "HostedIn.Environment": "^EC2$",
  "Operation": "GET /aws-sdk-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "AWS::S3",
  "RemoteOperation": "GetBucketLocation",
  "aws.span.kind": "^CLIENT$"
}]