[{
  "EC2.InstanceId": "^{{instanceId}}$",
  "Environment": "^ec2:default$",
  "PlatformType": "^AWS::EC2$",
  "Operation": "GET /remote-service",
  "Version": "^1$",
  "Telemetry.Source": "^LocalRootSpan$",
  "Host": "^ip(-[0-9]{1,3}){4}.*$"
},
{
  "EC2.InstanceId": "^{{instanceId}}$",
  "Environment": "^ec2:default$",
  "PlatformType": "^AWS::EC2$",
  "Operation": "GET /remote-service",
  "Version": "^1$",
  "RemoteService": "{{remoteServiceDeploymentName}}",
  "RemoteOperation": "GET /healthcheck",
  "Telemetry.Source": "^ClientSpan$",
  "Host": "^ip(-[0-9]{1,3}){4}.*$"
}]