[{
  "HostedIn.EKS.Cluster": "^{{platformInfo}}$",
  "HostedIn.K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^python-(r-)?app-deployment(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^python-app-deployment(-[A-Za-z0-9]*)*$",
  "Operation": "GET aws-sdk-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^LOCAL_ROOT$"
},
{
  "HostedIn.EKS.Cluster": "^{{platformInfo}}$",
  "HostedIn.K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^python-app-deployment(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^python-app-deployment(-[A-Za-z0-9]*)*$",
  "Operation": "GET aws-sdk-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "AWS::S3",
  "RemoteOperation": "GetBucketLocation",
  "aws.span.kind": "^CLIENT$",
  "aws.remote.resource.identifier": "^e2e-test-bucket-name-{{testingId}}$",
  "aws.remote.resource.type": "^AWS::S3::Bucket$"
}]