[{
  "EC2.AutoScalingGroup": "^eks-.+",
  "EC2.InstanceId": "^i-[A-Za-z0-9]{17}$",
  "EKS.Cluster": "^{{platformInfo}}$",
  "Environment": "^eks:{{platformInfo}}/{{appNamespace}}$",
  "K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^python-app-deployment-{{testingId}}(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^python-app-deployment-{{testingId}}$",
  "PlatformType": "^AWS::EKS$",
  "Service": "^{{serviceName}}$",
  "Operation": "GET mysql",
  "Version": "^1$",
  "Telemetry.Source": "^LocalRootSpan$",
  "Host": "^ip(-[0-9]{1,3}){4}.*$"
},
{
  "EC2.AutoScalingGroup": "^eks-.+",
  "EC2.InstanceId": "^i-[A-Za-z0-9]{17}$",
  "EKS.Cluster": "^{{platformInfo}}$",
  "Environment": "^eks:{{platformInfo}}/{{appNamespace}}$",
  "K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^python-app-deployment-{{testingId}}(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^python-app-deployment-{{testingId}}$",
  "PlatformType": "^AWS::EKS$",
  "Service": "^{{serviceName}}$",
  "Operation": "GET mysql",
  "Version": "^1$",
  "Telemetry.Source": "^ClientSpan$",
  "Host": "^ip(-[0-9]{1,3}){4}.*$",
  "RemoteService": "mysql",
  "RemoteOperation": "SELECT",
  "RemoteResourceType": "DB::Connection",
  "RemoteResourceIdentifier": "^{{remoteResourceIdentifier}}$"
}]