-
  metricName: DotNetGCGen0Count
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetGCGen1Count
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetGCGen2Count
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetGCDuration
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetGCGen0HeapSize
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetGCGen1HeapSize
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetGCGen2HeapSize
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetGCLOHHeapSize
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetGCPOHHeapSize
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetThreadCount
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: DotNetThreadQueueLength
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE
