[{
  "EC2.AutoScalingGroupName":  "^{{platformInfo}}$",
  "HostedIn.EC2.Environment": "^{{platformInfo}}$",
  "Operation": "GET /aws-sdk-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^LOCAL_ROOT$"
},
{
  "EC2.AutoScalingGroupName":  "^{{platformInfo}}$",
  "HostedIn.EC2.Environment": "^{{platformInfo}}$",
  "Operation": "GET /aws-sdk-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "AWS.SDK.S3",
  "RemoteOperation": "GetBucketLocation",
  "RemoteTarget": "::s3:::e2e-test-bucket-name",
  "aws.span.kind": "^CLIENT$"
}]