-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}
    -
      name: RemoteService
      value: local-root-client-call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}
    -
      name: RemoteService
      value: local-root-client-call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EC2.Environment
      value: {{platformInfo}}
    -
      name: RemoteService
      value: local-root-client-call