[{
  "EC2.AutoScalingGroupName":  "^{{platformInfo}}$",
  "HostedIn.EC2.Environment": "^{{platformInfo}}$",
  "Operation": "InternalOperation",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^LOCAL_ROOT$"
},
{
  "EC2.AutoScalingGroupName":  "^{{platformInfo}}$",
  "HostedIn.EC2.Environment": "^{{platformInfo}}$",
  "Operation": "InternalOperation",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "local-root-client-call",
  "RemoteOperation": "GET /",
  "aws.span.kind": "^CLIENT$"
}]