[{
  "EC2.AutoScalingGroupName":  "^{{asgName}}$",
  "HostedIn.EC2.Environment": "^EC2$",
  "Operation": "GET /outgoing-http-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^LOCAL_ROOT$"
},
{
  "EC2.AutoScalingGroupName":  "^{{asgName}}$",
  "HostedIn.EC2.Environment": "^EC2$",
  "Operation": "GET /outgoing-http-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "www.amazon.com",
  "RemoteOperation": "GET /",
  "aws.span.kind": "^CLIENT$"
}]