[{
  "EC2.AutoScalingGroup": "^{{platformInfo}}$",
  "EC2.InstanceId": "^{{instanceId}}$",
  "Environment": "^ec2:{{platformInfo}}$",
  "PlatformType": "^AWS::EC2$",
  "Operation": "GET /outgoing-http-call",
  "Version": "^1$",
  "Telemetry.Source": "^LocalRootSpan$",
  "Host": "^{{privateDnsName}}$",
  "otel.resource.aws.application_signals.metric_resource_keys": "all_attributes",
  "otel.resource.host.image.id": "^{{instanceAmi}}$",
  "otel.resource.host.type": "^([a-z0-9]+\\.[a-z0-9]+)$"
},
{
  "EC2.AutoScalingGroup": "^{{platformInfo}}$",
  "EC2.InstanceId": "^{{instanceId}}$",
  "Environment": "^ec2:{{platformInfo}}$",
  "PlatformType": "^AWS::EC2$",
  "Operation": "GET /outgoing-http-call",
  "Version": "^1$",
  "RemoteService": "www.amazon.com",
  "RemoteOperation": "GET /",
  "Telemetry.Source": "^ClientSpan$",
  "Host": "^{{privateDnsName}}$",
  "otel.resource.aws.application_signals.metric_resource_keys": "all_attributes",
  "otel.resource.host.image.id": "^{{instanceAmi}}$",
  "otel.resource.host.type": "^([a-z0-9]+\\.[a-z0-9]+)$"
}]