-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: lambda:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: {{serviceName}}/FunctionHandler
    -
      name: Environment
      value: lambda:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: lambda:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: {{serviceName}}/FunctionHandler
    -
      name: Environment
      value: lambda:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: lambda:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: {{serviceName}}/FunctionHandler
    -
      name: Environment
      value: lambda:default
