[{
  "resource": {
    "attributes": {
      "aws.local.service": "{{serviceName}}",
      "service.name": "{{serviceName}}",
      "cloud.provider": "aws",
      "cloud.region": "{{region}}",
      "cloud.account.id": "{{accountId}}",
      "cloud.platform": "aws_ec2"
    }
  },
  "severityNumber": "^[0-9]+$",
  "severityText": "{{severityText}}",
  "body": "This is a custom log for validation testing",
  "traceId": "{{traceId}}",
  "spanId": "{{spanId}}",
  "attributes": {
    "otelServiceName": "{{serviceName}}"
  }
}]