-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: GET client-call
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: local-root-client-call:80

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: GET client-call
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: local-root-client-call:80

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: GET client-call
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: local-root-client-call:80