[{
  "name": "^{{serviceName}}$",
  "http": {
    "request": {
      "url": "^{{endpoint}}/aws-sdk-call$",
      "method": "^GET$"
    },
    "response": {
      "status": "^200$"
    }
  },
  "aws": {
    "account_id": "^{{accountId}}$"
  },
  "annotations": {
    "aws.local.service": "^{{serviceName}}$",
    "HostedIn.Environment": "^EC2$",
    "aws.local.operation": "^GET aws-sdk-call$"
  },
  "metadata": {
    "default": {
        "otel.resource.aws.hostedin.environment": "^EC2$",
        "otel.resource.host.image.id": "^{{instanceAmi}}$",
        "otel.resource.host.type": "^t3.small$",
        "aws.span.kind": "^LOCAL_ROOT$"
    }
  },
  "subsegments": [
    {
      "name": "^AWS::S3$",
      "http": {
        "response": {
          "status": "^404$"
        }
      },
      "aws": {
        "operation": "^GetBucketLocation$"
      },
      "annotations": {
        "HostedIn.Environment": "^EC2$",
        "aws.local.service": "^{{serviceName}}$",
        "aws.local.operation": "^GET aws-sdk-call$",
        "aws.remote.service": "^AWS\\.SDK\\.S3$",
        "aws.remote.operation": "^GetBucketLocation$",
        "aws.remote.target": "^::s3:::e2e-test-bucket-name$"
      },
      "metadata": {
        "default": {
          "aws.span.kind": "^CLIENT$"
        }
      },
      "namespace": "^aws$"
    }
  ]
},
{
  "name": "^AWS::S3$",
  "aws": {
    "operation": "^GetBucketLocation$"
  }
}]