[{
  "EC2.InstanceId": "^{{instanceId}}$",
  "Environment": "^ec2:default$",
  "PlatformType": "^AWS::EC2$",
  "Operation": "InternalOperation",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^LOCAL_ROOT$",
  "host.name": "^ip(-[0-9]{1,3}){4}\\.ec2\\.internal$"
},
{
  "EC2.InstanceId": "^{{instanceId}}$",
  "Environment": "^ec2:default$",
  "PlatformType": "^AWS::EC2$",
  "Operation": "InternalOperation",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "local-root-client-call",
  "RemoteOperation": "GET /",
  "aws.span.kind": "^CLIENT$",
  "host.name": "^ip(-[0-9]{1,3}){4}\\.ec2\\.internal$"
}]