[{
  "name": "^{{serviceName}}$",
  "annotations": {
    "aws.local.service": "^{{serviceName}}$",
    "HostedIn.Environment": "^EC2$",
    "aws.local.operation": "^InternalOperation$"
  },
  "metadata": {
    "default": {
        "otel.resource.aws.hostedin.environment": "^EC2$",
        "otel.resource.host.image.id": "^{{instanceAmi}}$",
        "otel.resource.host.type": "^t3.small$"

    }
  },
  "subsegments": [
    {
      "name": "^local-root-client-call$",
      "http": {
          "request": {
              "url": "^http://local-root-client-call/$",
              "method": "^GET$"
          }
      },
      "annotations": {
        "HostedIn.Environment": "^EC2$",
        "aws.local.service": "^{{serviceName}}$",
        "aws.local.operation": "^InternalOperation$",
        "aws.remote.service": "^local-root-client-call$",
        "aws.remote.operation": "GET /"
      },
      "metadata": {
        "default": {
          "aws.span.kind": "^LOCAL_ROOT$"
        }
      },
      "namespace": "^remote$"
    }
  ]
},
{
    "name": "^local-root-client-call$",
    "http": {
        "request": {
            "url": "^http://local-root-client-call/$",
            "method": "^GET$"
        },
        "response": {
            "content_length": 0
        }
    },
    "annotations": {
        "aws.local.service": "^local-root-client-call$",
        "aws.local.operation": "^GET /$"
    }
}]