# OpenTelemetry Custom Metrics Validation Templates - AWS SDK Call Only
-
  metricName: custom_export_counter
  namespace: CWAgent
  dimensions:
    -
      name: Environment
      value: ec2:default
    -
      name: Service
      value: {{serviceName}}
    -
      name: telemetry.sdk.language
      value: python
    -
      name: operation.type
      value: custom_export_1
    -
      name: telemetry.sdk.version
      value: 1.33.1
    -
      name: telemetry.sdk.name
      value: opentelemetry
-
  metricName: test_histogram
  namespace: CWAgent
  dimensions:
    -
      name: Environment
      value: ec2:default
    -
      name: Service
      value: {{serviceName}}
    -
      name: telemetry.sdk.language
      value: python
    -
      name: operation.type
      value: histogram
    -
      name: telemetry.sdk.version
      value: 1.33.1
    -
      name: telemetry.sdk.name
      value: opentelemetry