-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket

# OpenTelemetry Custom Metrics Validation Templates 
-
  metricName: custom_requests_total
  namespace: {{customMetricNamespace}}
  dimensions:
    -
      name: operation.type
      value: healthcheck
    -
      name: Service
      value: {{serviceName}}

-
  metricName: custom_requests_total
  namespace: {{customMetricNamespace}}
  dimensions:
    -
      name: operation.type
      value: aws_sdk_call
    -
      name: Service
      value: {{serviceName}}

-
  metricName: custom_requests_total
  namespace: {{customMetricNamespace}}
  dimensions:
    -
      name: operation.type
      value: http_call
    -
      name: Service
      value: {{serviceName}}

-
  metricName: custom_requests_total
  namespace: {{customMetricNamespace}}
  dimensions:
    -
      name: operation.type
      value: downstream_service
    -
      name: Service
      value: {{serviceName}}

-
  metricName: custom_requests_total
  namespace: {{customMetricNamespace}}
  dimensions:
    -
      name: operation.type
      value: async_service
    -
      name: Service
      value: {{serviceName}}

-
  metricName: custom_requests_total
  namespace: {{customMetricNamespace}}
  dimensions:
    -
      name: operation.type
      value: mysql
    -
      name: Service
      value: {{serviceName}}
    

# Code for adding in Custom Histogram Metrics
# -
#   metricName: custom_response_time
#   namespace: {{customMetricNamespace}}
#   dimensions:
#     -
#       name: operation.type
#       value: aws_sdk_call
#     -
#       name: Service
#       value: {{serviceName}}

# Span Metrics For Custom Metrics
-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: operation.type
      value: aws_sdk_call
-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: operation.type
      value: aws_sdk_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: operation.type
      value: aws_sdk_call