# OpenTelemetry Custom Metrics Validation Templates - AWS SDK Call Only
-
  metricName: cloud_watch_counter
  namespace: {{customMetricNamespace}}
  dimensions:
    -
      name: operation.type
      value: aws_sdk_call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: {{testingId}}
-
  metricName: http_counter
  namespace: {{customMetricNamespace}}
  dimensions:
    -
      name: operation.type
      value: aws_sdk_call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: {{testingId}}