-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call

# Add Span Metrics For Custom Metrics
-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: async_service


-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: async_service

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /
    -
      name: operation.type
      value: async_service

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /
    -
      name: operation.type
      value: async_service

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: operation.type
      value: async_service

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: async_service

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: async_service

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /
    -
      name: operation.type
      value: async_service

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /
    -
      name: operation.type
      value: async_service

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: operation.type
      value: async_service

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: async_service

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: async_service

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /
    -
      name: operation.type
      value: async_service

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
    -
      name: RemoteOperation
      value: GET /
    -
      name: operation.type
      value: async_service

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call
          -
      name: operation.type
      value: async_service