-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: www.amazon.com

# Adding OpenTelemtry For Custom Metrics

-
  metricName: custom_requests_total
  namespace: {{customMetricNamespace}}
  dimensions:
    -
      name: operation.type
      value: http_call
    -
      name: Service
      value: {{serviceName}}

# Adding Span Metrics For Custom Metrics

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: http_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com
    -
      name: operation.type
      value: http_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: http_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com
    -
      name: operation.type
      value: http_call

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: www.amazon.com
    -
      name: operation.type
      value: http_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: http_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com
    -
      name: operation.type
      value: http_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: http_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com
    -
      name: operation.type
      value: http_call

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: www.amazon.com
    -
      name: operation.type
      value: http_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: http_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com
    -
      name: operation.type
      value: http_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: operation.type
      value: http_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com
    -
      name: operation.type
      value: http_call

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: www.amazon.com
    -
      name: operation.type
      value: http_call