[{
  "EC2.AutoScalingGroup": "^eks-.+",
  "EC2.InstanceId": "^i-[A-Za-z0-9]{17}$",
  "EKS.Cluster": "^{{platformInfo}}$",
  "Environment": "^eks:{{platformInfo}}/{{appNamespace}}$",
  "K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^sample-app-deployment-{{testingId}}(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^sample-app-deployment-{{testingId}}$",
  "PlatformType": "^AWS::EKS$",
  "Service": "^{{serviceName}}$",
  "Operation": "GET /aws-sdk-call",
  "Version": "^1$",
  "Telemetry.Source": "^LocalRootSpan$",
  "Telemetry.Agent": "^CWAgent\/([A-Za-z0-9.-]*)$",
  "Telemetry.SDK": "^opentelemetry,([A-Za-z0-9-.]*),nodejs,Auto$",
  "Host": "^ip(-[0-9]{1,3}){4}.*$"
},
{
  "EC2.AutoScalingGroup": "^eks-.+",
  "EC2.InstanceId": "^i-[A-Za-z0-9]{17}$",
  "EKS.Cluster": "^{{platformInfo}}$",
  "Environment": "^eks:{{platformInfo}}/{{appNamespace}}$",
  "K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^sample-app-deployment-{{testingId}}(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^sample-app-deployment-{{testingId}}$",
  "PlatformType": "^AWS::EKS$",
  "Service": "^{{serviceName}}$",
  "Operation": "GET /aws-sdk-call",
  "Version": "^1$",
  "RemoteService": "AWS::S3",
  "RemoteOperation": "GetBucketLocation",
  "RemoteResourceIdentifier": "^e2e-test-bucket-name-{{testingId}}$",
  "RemoteResourceType": "^AWS::S3::Bucket$",
  "Telemetry.Source": "^ClientSpan$",
  "Telemetry.Agent": "^CWAgent\/([A-Za-z0-9.-]*)$",
  "Telemetry.SDK": "^opentelemetry,([A-Za-z0-9-.]*),nodejs,Auto$",
  "Host": "^ip(-[0-9]{1,3}){4}.*$"
}]