[{
  "name": "^{{serviceName}}$",
  "annotations": {
    "aws.local.service": "^{{serviceName}}$",
    "aws.local.operation": "^{{serviceName}}/FunctionHandler$",
    "aws.local.environment": "^lambda:default$"
  },
  "metadata": {
    "default": {
      "faas.id": "arn:aws:lambda:{{region}}:{{accountId}}:function:{{serviceName}}$",
    }
  },
  "subsegments": [
    {
      "name": "^S3$",
      "aws": {
        "span.kind": "^CLIENT$",
      },
      "annotations": {
        "aws.local.service": "^{{serviceName}}$",
        "aws.local.operation": "^S3.ListBuckets$",
        "aws.remote.service": "^AWS::S3$",
        "aws.remote.operation": "^ListBuckets$",
        "aws.local.environment": "^lambda:default$"
      },
      "metadata": {
        "default": {
          "rpc.service": "^S3$",
          "rpc.method": "^ListBuckets$",
          "rpc.system": "^aws-api$"
        }
      },
      "namespace": "^aws$"
    }
  ]
}]