[{
  "name": "^{{serviceName}}/default$",
  "subsegments": [
    {
      "name": "^Lambda$",
      "aws": {
        "function_name": "^{{serviceName}}$"
      },
      "namespace": "^aws$"
    }
  ]
}]