-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS::S3
    -
      name: RemoteResourceType
      value: AWS::S3::Bucket
    -
      name: RemoteResourceIdentifier
      value: e2e-test-bucket-name-{{testingId}}
