-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: generic:default
    -
      name: RemoteService
      value: www.amazon.com