[{
  "EC2.AutoScalingGroup": "^eks-.+",
  "EC2.InstanceId": "^i-[A-Za-z0-9]{17}$",
  "Environment": "^generic:default$",
  "PlatformType": "^Generic$",
  "Service": "^{{serviceName}}$",
  "Operation": "GET /remote-service",
  "Host": "^ip(-[0-9]{1,3}){4}.*$"
},
{
  "EC2.AutoScalingGroup": "^eks-.+",
  "EC2.InstanceId": "^i-[A-Za-z0-9]{17}$",
  "Environment": "^generic:default$",
  "PlatformType": "^Generic$",
  "Service": "^{{serviceName}}$",
  "Operation": "GET /remote-service",
  "RemoteService": "{{remoteServiceDeploymentName}}",
  "RemoteOperation": "GET /healthcheck",
  "Host": "^ip(-[0-9]{1,3}){4}.*$"
}]