[{
  "EC2.InstanceId": "^{{instanceId}}$",
  "Environment": "^ec2:{{platformInfo}}$",
  "PlatformType": "^AWS::EC2$",
  "Operation": "GET aws-sdk-call",
  "Version": "^1$",
  "Telemetry.Source": "^LocalRootSpan$",
  "Host": "^{{privateDnsName}}$"
},
{
  "EC2.InstanceId": "^{{instanceId}}$",
  "Environment": "^ec2:{{platformInfo}}$",
  "PlatformType": "^AWS::EC2$",
  "Operation": "GET aws-sdk-call",
  "Version": "^1$",
  "RemoteService": "AWS::S3",
  "RemoteOperation": "GetBucketLocation",
  "Telemetry.Source": "^ClientSpan$",
  "Host": "^{{privateDnsName}}$"
}]