[{
  "name": "^{{serviceName}}$",
  "http": {
    "request": {
      "url": "^{{endpoint}}/remote-service$",
      "method": "^GET$"
    },
    "response": {
      "status": "^200$"
    }
  },
  "aws": {
    "account_id": "^{{accountId}}$"
  },
  "annotations": {
    "aws.local.service": "^{{serviceName}}$",
    "aws.local.operation": "^GET /remote-service$",
    "aws.local.environment": "^ec2:{{platformInfo}}$"
  },
  "metadata": {
    "default": {
      "EC2.AutoScalingGroup": "^{{platformInfo}}$",
      "EC2.InstanceId": "^{{instanceId}}$",
      "PlatformType": "^AWS::EC2$",
      "otel.resource.ec2.tag.aws:autoscaling:groupName": "^{{platformInfo}}$",
      "otel.resource.host.id": "^{{instanceId}}$",
      "otel.resource.host.image.id": "^{{instanceAmi}}$",
      "otel.resource.host.type": "^t3.micro$",
      "otel.resource.host.name": "^{{privateDnsName}}$",
      "aws.span.kind": "^LOCAL_ROOT$"
    }
  },
  "subsegments": [
    {
      "name": "^(([0-9]{1,3}.){3}[0-9]{1,3}):8081$",
      "http": {
        "request": {
          "url": "^http://(([0-9]{1,3}.){3}[0-9]{1,3}):8081/healthcheck$",
          "method": "^GET$"
        }
      },
      "annotations": {
        "aws.local.service": "^{{serviceName}}$",
        "aws.local.operation": "^GET /remote-service$",
        "aws.remote.service": "^(([0-9]{1,3}.){3}[0-9]{1,3}):8081$",
        "aws.remote.operation": "^GET /healthcheck$",
        "aws.local.environment": "^ec2:{{platformInfo}}$"
      },
      "metadata": {
        "default": {
          "EC2.AutoScalingGroup": "^{{platformInfo}}$",
          "EC2.InstanceId": "^{{instanceId}}$",
          "PlatformType": "^AWS::EC2$",
          "aws.span.kind": "^CLIENT$"
        }
       },
      "namespace": "^remote$"
    }
  ]
},
{
  "name": "^(([0-9]{1,3}.){3}[0-9]{1,3}):8081$",
  "http": {
    "request": {
      "url": "^http://(([0-9]{1,3}.){3}[0-9]{1,3}):8081/healthcheck$",
      "method": "^GET$"
    }
  },
  "annotations": {
    "aws.local.service": "^(([0-9]{1,3}.){3}[0-9]{1,3}):8081$",
    "aws.local.operation": "^GET /healthcheck$"
  }
}]


