-
  metricName: PythonProcessGCCount
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: PythonProcessGCGen0Count
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: PythonProcessGCGen1Count
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: PythonProcessGCGen2Count
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: PythonProcessVMSMemoryUsed
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: PythonProcessRSSMemoryUsed
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: PythonProcessThreadCount
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE


-
  metricName: PythonProcessCpuTime
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE

-
  metricName: PythonProcessCpuUtilization
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ANY_VALUE