[{
  "name": "GET client-call",
  "kind": "SERVER",
  "resource": {
    "attributes": {
      "aws.local.service": "{{serviceName}}",
      "service.name": "{{serviceName}}",
      "cloud.provider": "aws",
      "cloud.region": "{{region}}",
      "cloud.account.id": "{{accountId}}",
      "cloud.platform": "aws_ec2"
    }
  },
  "attributes": {
    "aws.local.service": "{{serviceName}}",
    "aws.local.environment": "ec2:default",
    "aws.local.operation": "GET client-call",
    "aws.span.kind": "LOCAL_ROOT",
    "http.route": "client-call",
    "http.request.method": "GET",
    "PlatformType": "AWS::EC2"
  }
},
{
  "name": "GET",
  "kind": "CLIENT",
  "resource": {
    "attributes": {
      "aws.local.service": "{{serviceName}}",
      "service.name": "{{serviceName}}",
      "cloud.provider": "aws",
      "cloud.region": "{{region}}",
      "cloud.account.id": "{{accountId}}",
      "cloud.platform": "aws_ec2"
    }
  },
  "attributes": {
    "aws.local.service": "{{serviceName}}",
    "aws.local.operation": "InternalOperation",
    "aws.remote.service": "local-root-client-call:80",
    "aws.remote.operation": "GET /",
    "aws.local.environment": "ec2:default",
    "aws.span.kind": "LOCAL_ROOT",
    "url.full": "http://local-root-client-call/",
    "http.request.method": "GET",
    "PlatformType": "AWS::EC2"
  }
}]