[{
  "resource": {
    "attributes": {
      "service.name": "{{serviceName}}"
    }
  },
  "scope": {
    "name": "aws.dynamic_instrumentation"
  },
  "attributes": {
    "event.name": "aws.dynamic_instrumentation.snapshot",
    "aws.di.instrumentation_type": "BREAKPOINT",
    "aws.di.instrumentation_level": "line",
    "aws.di.location_hash": "{{locationHash}}",
    "aws.di.line_number": "120",
    "aws.di.file_path": "frontend-service/index.js",
    "aws.di.snapshot_id": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
  },
  "traceId": "^[0-9a-f]{32}$",
  "spanId": "^[0-9a-f]{16}$",
  "body": {
    "captures": {
      "lines": {
        "120": {
          "locals": {
            "bucketName": {
              "type": "^string$",
              "value": "^e2e-test-bucket-name-.*$"
            },
            "warningMsg": {
              "type": "^string$",
              "value": "^This is a custom log for validation testing$"
            },
            "s3Client": {
              "type": "^S3Client$"
            }
          }
        }
      }
    },
    "stack": [
      {
        "file_path": "^.*frontend-service/index\\.js$",
        "line_number": "^120$",
        "function": "^\\(anonymous\\)$"
      }
    ]
  }
}]
