-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: "-"

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: "-"

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: "-"

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: "-"

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: "-"

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: "-"