-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: eks:{{platformInfo}}/{{appNamespace}}