-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{remoteServiceDeploymentName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{remoteServiceDeploymentName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: K8s.RemoteNamespace
      value: "-"
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: K8s.RemoteNamespace
      value: "-"
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: K8s.RemoteNamespace
      value: "-"
    -
      name: Operation
      value: AllOtherOperations
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{remoteServiceDeploymentName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{remoteServiceDeploymentName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: K8s.RemoteNamespace
      value: "-"
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: K8s.RemoteNamespace
      value: "-"
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: K8s.RemoteNamespace
      value: "-"
    -
      name: Operation
      value: AllOtherOperations
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: Operation
      value: AllOtherOperations
    -
      name: Service
      value: {{remoteServiceDeploymentName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{remoteServiceDeploymentName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: K8s.RemoteNamespace
      value: "-"
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: K8s.RemoteNamespace
      value: "-"
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.EKS.Cluster
      value: {{platformInfo}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: K8s.RemoteNamespace
      value: "-"
    -
      name: Operation
      value: AllOtherOperations
    -
      name: RemoteOperation
      value: AllOtherRemoteOperations
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
    -
      name: Service
      value: {{serviceName}}