-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call:80

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call:80

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Operation
      value: InternalOperation
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call:80
    -
      name: RemoteOperation
      value: GET /

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: ec2:default
    -
      name: RemoteService
      value: local-root-client-call:80