[{
  "name": "^{{serviceName}}$",
  "annotations": {
    "aws.local.service": "^{{serviceName}}$",
    "HostedIn.K8s.Namespace": "^{{appNamespace}}$",
    "HostedIn.K8s.Cluster": "^{{platformInfo}}$",
    "aws.local.operation": "^InternalOperation$"
  },
  "metadata": {
    "default": {
          "otel.resource.K8s.Workload": "^sample-app-deployment-{{testingId}}$",
          "otel.resource.K8s.Node": "^i-[A-Za-z0-9]{17}$",
          "otel.resource.K8s.Pod": "^sample-app-deployment-{{testingId}}(-[A-Za-z0-9]*)*$"
    }
  },
  "subsegments": [
    {
      "name": "^local-root-client-call$",
      "http": {
          "request": {
              "url": "^http://local-root-client-call$",
              "method": "^GET$"
          }
      },
      "annotations": {
        "HostedIn.K8s.Namespace": "^{{appNamespace}}$",
        "HostedIn.K8s.Cluster": "^{{platformInfo}}$",
        "aws.local.service": "^{{serviceName}}$",
        "aws.local.operation": "^InternalOperation$",
        "aws.remote.service": "^local-root-client-call$",
        "aws.remote.operation": "GET /"
      },
      "metadata": {
        "default": {
          "aws.span.kind": "^LOCAL_ROOT$"
        }
      },
      "namespace": "^remote$"
    }
  ]
},
{
    "name": "^local-root-client-call$",
    "http": {
        "request": {
            "url": "^http://local-root-client-call$",
            "method": "^GET$"
        },
        "response": {
            "content_length": 0
        }
    },
    "annotations": {
        "aws.local.service": "^local-root-client-call$",
        "aws.local.operation": "^GET /$"
    }
}]