-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: Operation
      value: GET /healthcheck
    -
      name: Service
      value: {{remoteServiceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{remoteServiceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteEnvironment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: {{remoteServiceName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteEnvironment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteEnvironment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: Operation
      value: GET /remote-service
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: Operation
      value: GET /healthcheck
    -
      name: Service
      value: {{remoteServiceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{remoteServiceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteEnvironment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: {{remoteServiceName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteEnvironment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteEnvironment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: Operation
      value: GET /remote-service
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: Operation
      value: GET /healthcheck
    -
      name: Service
      value: {{remoteServiceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{remoteServiceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: RemoteService
      value: {{remoteServiceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteEnvironment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteService
      value: {{remoteServiceName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteEnvironment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}
    -
      name: Service
      value: {{serviceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Environment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: RemoteEnvironment
      value: k8s:{{platformInfo}}/{{appNamespace}}
    -
      name: Operation
      value: GET /remote-service
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceName}}
    -
      name: Service
      value: {{serviceName}}