## Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
## SPDX-License-Identifier: Apache-2.0

# This is a reusable workflow for running the Enablement test for App Signals.
# It is meant to be called from another workflow.
# Read more about reusable workflows: https://docs.github.com/en/actions/using-workflows/reusing-workflows#overview
name: Test
on:
  push:
    branches:
      - Java_Custom_metrics

permissions:
  id-token: write
  contents: read

jobs:
  java-ecs-test:
    uses: ./.github/workflows/java-ecs-test.yml
    secrets: inherit
    with:
      caller-workflow-name: 'test'
      aws-region: 'us-east-1'