## Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
## SPDX-License-Identifier: Apache-2.0

# This is a reusable workflow for running the Enablement test for App Signals.
# It is meant to be called from another workflow.
# Read more about reusable workflows: https://docs.github.com/en/actions/using-workflows/reusing-workflows#overview
name: Test
on:
  push:
    branches:
      - otel-custom-metrics-test

permissions:
  id-token: write
  contents: read

jobs:
  java-ec2-default:
    uses: ./.github/workflows/python-ec2-default-test.yml
    secrets: inherit
    with:
      caller-workflow-name: 'test'
      aws-region: 'us-west-2'
      custom-metrics-enabled: false

  custom-metrics:
    uses: ./.github/workflows/python-ec2-default-test.yml
    secrets: inherit
    with:
      caller-workflow-name: 'test'
      aws-region: 'us-west-2'
      custom-metrics-enabled: true