langchain
langchain-community
langchain_aws
opentelemetry-sdk
openinference-instrumentation-langchain
opentelemetry-api
opentelemetry-semantic-conventions
python-dotenv
openlit
botocore
setuptools
boto3
aws_opentelemetry_distro_genai_beta
fastapi
uvicorn[standard]