fastapi
uvicorn[standard]
boto3
botocore
setuptools
langchain-aws
langchain-classic
langchain-community
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
python-dotenv
openinference-instrumentation-langchain
